body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}

h1 {
  color: #fff;
  font-size: 10rem;
  transition: transform 0.2s ease, color 0.3s ease;
}

h1.pressed {
  transform: scale(1.3);
}
